<h1>Display your Pirate here</h1>


<p>Pirate Name: <%=@pirate.name%></p>
<p>Pirate Weight: <%=@pirate.weight%></p>
<p>Pirate Height: <%=@pirate.height%></p>

<%@ships.each do |s|%>
  <p>Ship Name: <%=s.name%></p>
  <p>Ship Type: <%=s.type%></p>
  <p>Ship Booty: <%=s.booty%></p>
<%end%>